{{allPubGitHubBadges()}}
 
![]({{gitHubWikiUri('/template_engine.png')}})

# Features
{{importTemplate('doc/template/doc/wiki/01-Template-Engine.md.template')}}

# Getting Started
{{importTemplate('doc/template/doc/wiki/02-Getting-Started.md.template')}}

# Usage
{{importTemplate('doc/template/doc/wiki/03-Usage.md.template')}}

# Documentation
For more information read the {{gitHubWikiLink()}}