To get started:
* {{gitHubWikiLink(text='Read the wiki documentation')}}
* {{gitHubWikiLink(text='See the examples', suffix='/10 Examples')}}
* {{pubDevInstallLink(text='Install the template_engine package in your project')}}
* Start coding