A typical way to use the {{referenceLink('template_engine')}}:

{{importDartCode('test/src/template_engine_template_example_test.dart')}}

For more see: [Examples](https://pub.dev/packages/template_engine/example)